* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.content {
    width: 100vw;
    height: 45vh;
    background-color: #49d0b0;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 10px 10px 0px 0px;
    }
}